@{
    ViewData["Title"] = "Colour Flipper";
}

<div class="uk-container uk-position-center uk-background-cover">
    <h1 class="uk-heading-medium">
        Colour Picker : 
        <span id="colour">#FFFFFF</span>
    </h1>

    <button class="uk-button uk-button-default uk-align-center" onclick="randomColour()">Randomise!</button>
</div>

<script src="~/js/projects/colour-flipper/colourFlipper.js"></script>