@{
    ViewData["Title"] = "Counter";
}

<div class="uk-card uk-card-body uk-width-large uk-position-center">
    <div class="uk-card-media-top">
        <div class="uk-tile uk-tile-secondary">
            <p id="counter" class="uk-h4 uk-position-center">0</p>
        </div>
    </div>

    <div class="uk-card-body uk-button-group">
        <button class="uk-button uk-button-primary" id="btn-decrement">Decrement</button>
        <button class="uk-button uk-button-default" id="btn-reset">Reset</button>
        <button class="uk-button uk-button-primary" id="btn-increment">Increment</button>
    </div>
</div>

<script src="~/js/counter/counter.js"></script>