@{
    ViewData["Title"] = "Countdown Timer";
}

<div class="ch-countdown-timer-container">
    <div class="ch-ct-figure ch-days">
        <p class="ch-ct-digit" id="days">0</p>
        <span>Hours</span>
    </div>

    <div class="ch-ct-figure ch-hours">
        <p class="ch-ct-digit" id="hours">0</p>
        <span>Days</span>
    </div>

    <div class="ch-ct-figure ch-minutes">
        <p class="ch-ct-digit" id="minutes">0</p>
        <span>Minutes</span>
    </div>

    <div class="ch-ct-figure ch-seconds">
        <p class="ch-ct-digit" id="seconds">0</p>
        <span>Seconds</span>
    </div>
</div>

<script src="~/js/projects/countdown-timer/countdown-timer.js"></script>

