@{
    ViewData["Title"] = "Counter";
}

<h1>Counter</h1>

<div>
    <div>0</div>

    <div>
        <button>Increment</button>
        <button>Reset</button>
        <button>Decrement</button>
    </div>

</div>