@{
    ViewData["Title"] = "Todo";
}

<div>
    <p>This is Todo page test file </p>
    <button id="btn-todo" type="button" class="btn btn-primary btn-sm">Todo</button>
</div>


<script src="~/js/Scripts/Script.js"></script>